<head>
    Landscaping Pro
</head>

<body>
    <header>Landscaping Pro <br></header>

    <button (click) = "setViewCust()">Cusomer Portal</button>
    <button (click) = "setViewGenInfo()">See Company Information</button>
    <button (click) = "setViewCreateCust()">Create Account</button>
    <button (click) = "setViewEmp()">Employee Portal</button>

    <div *ngIf = 'viewControl.displayDict["genInfo"] == true'>
        <!-- The general info tab custom selector tag goes here -->
    </div>

    <div *ngIf = 'viewControl.displayDict["custPage"] == true'>
        <!-- The customer portal tab custom selector tag goes here -->
    </div>

    <div *ngIf = 'viewControl.displayDict["empPage"] == true'>
        <app-employee></app-employee>
    </div>

    <div *ngIf = 'viewControl.displayDict["createCust"] == true'>
        <app-create-cust-acct></app-create-cust-acct>>
    </div>



</body>

<div>
    <div class="month">
        <ul>
          <li><span style="font-size:18px">@DateTime.Today.ToString("MMMM") 2021</span></li>
        </ul>
      </div>
      
      <ul class="days_in_week">
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
        <li>Sunday</li>
      </ul>
      
      <ul class="days">
        <li *ngFor = 'let date of datesArray'>{{date}}</li>
      </ul>
</div>