<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{customer.firstName}} {{customer.lastName}}</h5>
      <p class="card-text">Account number: {{customer.custId}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Card number: {{customer.cardNumber}}</li>
      <li class="list-group-item">Unpaid balance: {{customer.unpaidBalance}}</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>